* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.image {
    background-image: url('./image/course.png');
    height: 400px;
    z-index: -1;
}

.image .overlay {
    opacity: 0.4;
    color: white;
    height: 100%;
    z-index: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image .text {
    z-index: 100;
}

.search {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.search-box {
    display: flex;
}

.search-box input {
    padding: 10px 3px;
    width: 500px;
    height: 50px;
    border: none;
    border: 1px solid whitesmoke;
}

.search-box .icon {
    border-left: 2px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    
    width: 50px;
    /*  text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}
